// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body {
  font-size: 96%;
}

h6 {
  font-size: 1.0em;
  font-weight: normal;
  font-style: italic;
  background-color: #FFFFEB;
  padding: 10px;
  margin: 10px 0;
}

ul, ol {
  margin-left: 25px;
}